.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}
.picture{
    
    margin-right: 3%;
    margin-left: 5%;
    border: 5px palegoldenrod solid;
    border-radius: 5px;
}

.Produkt{
    background-color: blue;
    border: 10px black solid;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 6%;
    margin-left: 2%;
}

.Price{
    background-color: black;
    border: 4px red solid;
    border-radius: 8px;
    padding-left: 13px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    margin-right: 9%;
    margin-left: 9%;
}

#Rubrik{
    text-align: center;
    background-color: white;
    border: 5px black solid;
    border-radius: 5px;
    margin-left: 35%;
    margin-right: 35%;
    border-width: 5px;
}

body{
    background-image: url("./Img/WebPage.webp");
    background-size: 200px 100px;
}