.produkt1{
    text-align: center;
    border: 2px black solid;
    border-radius: 5px;
}
.produkt2{
    text-align: center;
    border: 2px black solid;
    
}
.produkt3{
    text-align: center;
    border: 2px black solid;
    
}
.produkt4{
    text-align: center;
    border: 2px black solid;
    
}
.produkt5{
    text-align: center;
    border: 2px black solid;
    
}
.produkt6{
    text-align: center;
    border: 2px black solid;
    
}

#Rubrik{
    text-align: center;
    border: 2px black solid;
    border-radius: 5px;
}